<div id="contact-box">
    <h1>Contact Us</h1>
    <div class="left">
  
  <form>
    <input type="text" name="name" placeholder="Name">
    <input type="Number" name="Phone Number" placeholder="Phone Number">
    <input type="email" name="mail" placeholder="Email">
    <textarea name="comment" placeholder="Your Valueable feedback for us"></textarea>
    <input id="btn" type="submit" name="">
  </form>
  </div>
</div>