#featured_image{
    width:80%;
    margin:auto;
}
#headings{
    color:black;
    font-size:40px;
    align-content:center;
}
#courses-container{
    width:100%;
}
.container1{
    background-color:lightblue;
}
.featured-Courses {
    width:80%;
    margin-top: 30px;
    margin:auto;
}
.instructors{
    width:80%;
}
.featured-Courses > h1, .instructors > h1 {
    text-align: center;
    width:100%; 
}
.grid-box {
    width:100%;
    margin:auto;
    grid-template-columns: 33.33% 33.33% 33.33%;
}
.grid-child{
    margin:auto;
}
