<h1 class="courseHeading">
  Our Courses
</h1>
<div class="container-fluid d-flex justify-content-center">
  <div class="row mt-5">
    @for(int i=0;i<15;i++){ <div class="col-sm-4">
      <partial name="courseCard" />
  </div>
  }
</div>
</div>